/*******************************
Personalizado
*******************************/
.leaflet-container {
	font: 12px/1.5 Roboto, sans-serif !important;
}

/*******************************
Barra superior
*******************************/
.navbar {
  background-color:  #46CA6A;
  height: 70px;
}

/*******************************
Barra de menú
*******************************/
#sidebar-container {
  background-color: #2F528F;
  top: 70px;
}

/*******************************
Capas
*******************************/
.panel-default > .panel-heading {
  background-color: #2F528F;
  
}

/*******************************
Capas activas
*******************************/

.panel-body > .active {
	background-color: #46CA6A;
}


#top-left-logo {width: 170px;
	float: left;
        margin-bottom: 1px;}

@media (max-width: 400px) {
  #top-left-logo {
     width: 40%;
     float: left;
        margin-top: 0px;
  }
}

#top-right-logo {
  width: 200px;
	float: right;
  margin-bottom: 0px;
  top: 5px;
  position:absolute;
  right: 10px;      
}

@media (max-width: 400px) {
  #top-right-logo {
     width: 40%;
     float: right;
        margin-top: 7px;
  }
}
