#sidebar-toolbar-icon{
  text-align: center;
  position:absolute;
  top: 55px;
  left: 47px;
  z-index: 3000;
  height: 30px;
  background: rgba(0,0,0,0.2);
  border-radius: 5px;
}

div #sidebar-toolbar-icon:hover{
  width: 30px;
  height: 30px;
  background: rgba(0,0,0,0.2);
}

#sidebar-toolbar-span{
  margin-top: 5px;
  color: rgba(0,0,0,0.2);
}

@media (max-height: 600px){
  .leaflet-control-minimap {
		display: none;
	}
}
@media (max-height: 400px) {
 
  div .leaflet-control-measure{
    left: 37px !important;
    bottom: 68px !important;
  }

  .leaflet-control-minimap {
		display: none;
	}
	
	.leaflet-control{
		margin-left: 0px !important;
		margin-top: 0px !important;
	}

  #modalgeojson{
		left: 37px !important;
		top: 196px;
	}

	.leaflet-control-zoomhome .leaflet-bar .leaflet-control{
		display: none;
	}
  .leaflet-control-scale-line{
    display: none;
  }
  .leaflet-control-mouseposition .leaflet-control{
    margin-right: 30px !important;
  }

  .leaflet-draw-toolbar .leaflet-bar{
    bottom: 150px !important;
    position: relative;
  }

  #sidebar-toolbar-icon{
    top: 40px;
    left: 40px;
  }
 #collapseBaseMapLayers .list-inline{overflow-y: scroll;}

 div .leaflet-draw-toolbar {
  margin-top: 0px !important;
 }
 .leaflet-right .leaflet-control{
  margin-right: 0px !important;
  margin-top: 0px !important;
 }
  
 .leaflet-control-mouseposition .leaflet-control{
  margin-right: 40px !important;
 }
 .leaflet-bottom{
  margin-right: 40px !important;
 }
 .leaflet-control-measure-interaction div h3{
   font-size: 12px !important;
 }
}


@media (max-width: 600px) {
  	.leaflet-control{
		margin-left: 0px !important;
		margin-top: 0px !important;
	}

  #modalgeojson{
		left: 0px !important;
		top: 265px !important;
	}

  #sidebar-toolbar-icon{
    top: 38px;
    left: 37px;
  }
}